<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comicpro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.tentruyen.ThemTenTruyenActivity"
            android:exported="false" />
        <activity
            android:name=".view.lichphathanh.ThemChiTietLichPhatHanhActivity"
            android:exported="false" />
        <activity
            android:name=".view.lichphathanh.ThemLichPhatHanhActivity"
            android:exported="false" />
        <activity
            android:name=".view.tuatruyen.ThemTuaTruyenActivity"
            android:exported="false" />
        <activity android:name=".view.tentruyen.TenTruyenActivity" />
        <activity android:name=".system.ImagePickerActivity" />
        <activity android:name=".view.danhmuc.DonViTinhActivity" />
        <activity android:name=".view.moinhat.MoiNhatActivity" />
        <activity android:name=".view.lichphathanh.LichPhatHanhActivity" />
        <activity android:name=".view.tonkho.TonKhoActivity" />
        <activity android:name=".view.tonkho.ChiTietTonKhoActivity" />
        <activity android:name=".view.phieunhap.PhieuNhapActivity" />
        <activity android:name=".view.phieunhap.ChiTietPhieuNhapActivity" />
        <activity android:name=".view.thongke.ThongKeTuaTruyenActivity" />
        <activity android:name=".view.thongke.navTenTuyenActivity" />
        <activity android:name=".view.thongke.ThongKeTheoThangActivity" />
        <activity android:name=".view.thongke.ThongKeTheoNamActivity" />
        <activity android:name=".view.danhmuc.TacGiaActivity" />
        <activity android:name=".view.danhmuc.LoaiBiaActivity" />
        <activity android:name=".view.danhmuc.QuocGiaActivity" />
        <activity android:name=".view.danhmuc.LoaiTruyenActivity" />
        <activity android:name=".view.danhmuc.TuaTruyenTacGiaActivity" />
        <activity android:name=".view.lichphathanh.CTLichPhatHanhActivity" />
        <activity android:name=".view.tuatruyen.TuaTruyenActivity" />
        <activity android:name=".view.phieunhap.PhieuNhapTempActivity" />
        <activity android:name=".view.phieunhap.ThanhToanPhieuNhapActivity" />
        <activity android:name=".view.tonkho.KetChuyenActivity" />
        <activity android:name=".view.danhmuc.NhaXuatBanActivity" />
        <activity android:name=".view.danhmuc.NhaCungCapActivity" />
        <activity android:name=".view.danhmuc.KhachHangActivity" />
        <activity android:name=".view.danhmuc.TuaTruyenNXBActivity" />
        <activity android:name=".view.danhmuc.TuaTruyenLoaiTruyenActivity" />
        <activity android:name=".view.thongke.NhapKhoTheoThangActivity" />
        <activity android:name=".view.thongke.ThongKeTheoNXBActivity" />
        <activity android:name=".view.bieudo.TheoThangActivity" />
        <activity android:name=".view.bieudo.TheoNhaXuatBanActivity" />
        <activity android:name=".view.phieuxuat.PhieuXuatActivity" />
        <activity android:name=".view.phieuxuat.PhieuXuatTempActivity" />
        <activity android:name=".view.phieuxuat.ThanhToanPhieuXuatActivity" />
        <activity android:name=".view.phieuxuat.ChiTietPhieuXuatActivity" />
        <activity android:name=".view.danhmuc.QuaTangActivity" />
        <activity android:name=".view.thongke.TenTruyenTheoNXBActivity" />
        <activity android:name=".view.nguoidung.NguoiDungActivity" />
        <activity android:name=".ComicProActivity" />
        <activity android:name=".view.thongke.ThongKeTheoNCCActivity" />
        <activity android:name=".view.thongke.TenTruyenTheoNCCActivity" />
        <activity android:name=".view.tusach.TuSachActivity" />
        <activity android:name=".view.tusach.TuSachChiTietActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".view.hethong.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>