<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.comicpro">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"

        android:usesCleartextTraffic="true">
        <activity android:name="com.example.comicpro.view.tentruyen.TenTruyenActivity" />
        <activity android:name="com.example.comicpro.system.ImagePickerActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.DonViTinhActivity" />
        <activity android:name="com.example.comicpro.view.moinhat.MoiNhatActivity" />
        <activity android:name="com.example.comicpro.view.lichphathanh.LichPhatHanhActivity" />
        <activity android:name="com.example.comicpro.view.tonkho.TonKhoActivity" />
        <activity android:name="com.example.comicpro.view.tonkho.ChiTietTonKhoActivity" />
        <activity android:name="com.example.comicpro.view.phieunhap.PhieuNhapActivity" />
        <activity android:name="com.example.comicpro.view.phieunhap.ChiTietPhieuNhapActivity" />
        <activity android:name="com.example.comicpro.view.thongke.ThongKeTuaTruyenActivity" />
        <activity android:name="com.example.comicpro.view.thongke.navTenTuyenActivity" />
        <activity android:name="com.example.comicpro.view.thongke.ThongKeTheoThangActivity" />
        <activity android:name="com.example.comicpro.view.thongke.ThongKeTheoNamActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.TacGiaActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.LoaiBiaActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.QuocGiaActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.LoaiTruyenActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.TuaTruyenTacGiaActivity" />
        <activity android:name="com.example.comicpro.view.lichphathanh.CTLichPhatHanhActivity" />
        <activity android:name="com.example.comicpro.view.tuatruyen.TuaTruyenActivity" />
        <activity android:name="com.example.comicpro.view.phieunhap.PhieuNhapTempActivity" />
        <activity android:name="com.example.comicpro.view.phieunhap.ThanhToanPhieuNhapActivity" />
        <activity android:name="com.example.comicpro.view.tonkho.KetChuyenActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.NhaXuatBanActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.NhaCungCapActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.KhachHangActivity" />
        <activity android:name="com.example.comicpro.view.danhmuc.TuaTruyenNXBActivity"/>
        <activity android:name="com.example.comicpro.view.danhmuc.TuaTruyenLoaiTruyenActivity"/>
        <activity android:name="com.example.comicpro.view.thongke.NhapKhoTheoThangActivity"/>
        <activity android:name="com.example.comicpro.view.thongke.ThongKeTheoNXBActivity"/>
        <activity android:name="com.example.comicpro.view.bieudo.TheoThangActivity"/>
        <activity android:name="com.example.comicpro.view.bieudo.TheoNhaXuatBanActivity"/>
        <activity android:name="com.example.comicpro.view.phieuxuat.PhieuXuatActivity"/>
        <activity android:name="com.example.comicpro.view.phieuxuat.PhieuXuatTempActivity"/>
        <activity android:name="com.example.comicpro.view.phieuxuat.ThanhToanPhieuXuatActivity"/>
        <activity android:name="com.example.comicpro.view.phieuxuat.ChiTietPhieuXuatActivity"/>
        <activity android:name="com.example.comicpro.view.danhmuc.QuaTangActivity"/>
        <activity android:name="com.example.comicpro.view.thongke.TenTruyenTheoNXBActivity"/>
        <activity android:name="com.example.comicpro.view.nguoidung.NguoiDungActivity"/>
        <activity android:name="com.example.comicpro.ComicProActivity"/>
        <activity android:name="com.example.comicpro.view.thongke.ThongKeTheoNCCActivity"/>
        <activity android:name="com.example.comicpro.view.thongke.TenTruyenTheoNCCActivity"/>
        <activity android:name="com.example.comicpro.view.tusach.TuSachActivity"/>
        <activity android:name="com.example.comicpro.view.tusach.TuSachChiTietActivity"/>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name="com.example.comicpro.view.hethong.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>